@import 'cores.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    color: var(--color-gray-900);
    background: var(--color-white);
}

.transparencia-modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease forwards;
}

/* Caixa do modal */
.transparencia-modal {
    background: white;
    color: #222;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    transform: translateY(-60px);
    opacity: 0;
    animation: slideDown 0.5s ease forwards;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    height: 80vh;
    overflow-y: auto;
}

.transparencia-modal h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.transparencia-modal p {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 15px;
    margin-right: 15px;
}

.transparencia-close-btn {
    background: #222;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}

.transparencia-close-btn:hover {
    background: #ffcc00;
    color: black;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body.no-scroll {
    overflow-y: hidden;
}