@import 'cores.css';

.contato-section {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
  font-size: 2.5em;
  color: var(--color-purple);
  margin-bottom: 30px;
}

/* Layout das colunas */

.container-contato {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.coluna-formulario {
  flex: 2;
}

.coluna-info {
  flex: 1;
}

/* Formulário */

.linha-formulario {
  display: flex;
  gap: 20px;
}

.campo-metade {
  flex: 1;
}

.campo-metade,
.campo-inteiro {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

.btn-enviar {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: var(--color-pink);
}

.bloco-info {
  margin-bottom: 30px;
}

.bloco-info h2 {
  color: var(--color-purple);
  margin-bottom: 15px;
}

.bloco-info p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
}

@media (max-width: 768px) {

  .linha-formulario,
  .container-contato {
    flex-direction: column;
  }

  .container-contato {
    gap: 80px;
  }
}

.mapa-container {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapa-container iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}