:root {
  --color-dark: #391B4F;
  --color-purple: #61177F;
  --color-pink: #B22DB2;
  --color-red: #ef4444;
  --color-orange: #f97316;
  --color-yellow: #fbbf24;
  --color-white: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-black: #000000;

  --degradeRosa: linear-gradient(135deg, var(--color-pink), var(--color-orange));
}