@import 'cores.css';

/* Donations Section */

.donations {
    padding: 120px 0;
    background-image: url('/assets/imagens/midia/doacoes.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.donations-content {
    grid-template-columns: 1fr;
    gap: 48px;
}

.donations-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0 60px;
    width: 50%;
}

.donations-description {
    font-size: 18px;
    line-height: 1.8;
    color: white;
    margin-bottom: 32px;

}

.donation-amounts {
    display: grid;
    grid-column: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 24px;
}

.amount-btn {
    padding: 16px;
    border: 2px solid var(--color-gray-200);
    background: var(--color-white);
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-gray-900);
    cursor: pointer;
    transition: all 0.3s ease;
}

.amount-btn:hover {
    border-color: var(--color-purple);
    background: var(--color-purple);
    color: var(--color-white);
}

@media (max-width: 980px) {
    .donations-container {
        width: 100%;
        padding: 0 20px;
    }
}