@import 'cores.css';

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  background: var(--color-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-logo img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
}

.nav-toggle {
  display: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
  align-items: center;
}

.nav-menu>li {
  position: relative;
}

.nav-menu>li>a {
  padding-bottom: 8px;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
  color: #111827;
}

.nav-menu a:hover,
.nav-menu a.active {
  color: #8b5cf6;
}

.menu-social-icons a:hover {
  background: var(--color-white);
  color: var(--color-purple);
}

/* ============= SUBMENU ============= */

.nav-menu>li:hover .submenu {
  display: block;
}

.submenu {
  position: absolute;
  top: calc(100% + 0.3rem);
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  background: #fff;
  border-radius: 6px;
  padding: 0.5rem 0;
  display: none;
  min-width: 180px;
}

.submenu li {
  text-align: left;
}

.submenu a {
  display: block;
  padding: 0.5rem 1rem;
  color: #222;
  text-decoration: none;
  transition: background 0.2s ease;
}

/* ============= Responsividade ============= */

@media (min-width: 1175px) {

  /* efeito da barrinha abaixo */
  .nav-menu>li>a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background-color: #8b5cf6;
    transition: transform 0.3s ease;
  }

  .nav-menu>li:hover:not(.menu-social-icons)>a::after, .nav-menu>li>a.active::after {
    transform: translateX(-50%) scaleX(1);
  }
}

@media (max-width: 1175px) {

  .nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  }

  .bi-list {
    font-size: 24px;
    color: #ec4899;
  }

  .nav-menu {
    position: fixed;
    top: 72px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 72px);
    background: var(--color-white);
    flex-direction: column;
    padding: 32px;
    transition: left 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu>li {
    width: 100%;
  }

  .nav-menu>li>a {
    padding: 1rem;
    width: 100%;
  }

  .submenu {
    position: static;
    transform: none;
    border: none;
    box-shadow: none;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  .submenu.show {
    display: block;
    opacity: 1;
    max-height: 500px;
  }

  .submenu a {
    padding: 0.75rem 2rem;
  }
}