@import 'cores.css';

@media (max-width: 768px) {

  .linha-formulario,
  .container-contato {
    flex-direction: column;
  }

  .container-contato {
    gap: 80px;
  }
}

/* Sessão Vídeos */
.na-midia {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  background: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-top: 24px;
  height: fit-content;
  background: linear-gradient(to right, var(--color-purple), var(--color-pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.container-videos-pdf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.video-item-pdf {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  transition: transform 0.3s ease;
}

.video-item-pdf:hover {
  transform: translateY(-5px);
}

.video-item-pdf iframe {
  width: 100%;
  height: 200px;
  border: none;
  display: block;
}

.video-item-pdf p {
  padding: 15px;
  text-align: center;
  color: #444;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
}

/* Container que segura todos os links */
.container-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

/* O Card (que é o link <a>) */
.link-card {
  display: block;
  text-decoration: none;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 320px;
  transition: transform 0.3s ease;
}

.link-card:hover {
  transform: translateY(-5px);
}

/* Thumbnail */
.thumbnail-link {
  width: 100%;
  height: 250px;
  aspect-ratio: 16 / 9;
  background-color: #eee;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.thumbnail-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  display: block;
}

/* A Caixinha do Texto */
.info-link {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}

.info-link p {
  color: #333;
  font-weight:normal;
  font-family: Arial, sans-serif;
  margin: 0;
}