@import 'css/_uso_geral.css';
@import 'css/companhia.css';
@import 'css/contato.css';
@import 'css/doacoes.css';
@import 'css/index.css';
@import 'css/menu.css';
@import 'css/na_midia.css';
@import 'css/projetos.css';
@import 'css/rodape.css';
@import 'css/sobre.css';
@import 'css/en_site.css';